fastapi
uvicorn
sqlalchemy
psycopg2-binary
scikit-learn
numpy
google-generativeai
python-multipart
python-dotenv
scrapy
pandas
llama-index
llama-index-llms-gemini
llama-index-embeddings-google
networkx
matplotlib
pypdf
livekit-api
groq
livekit-agents
livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-silero
geopy
